.announcement {
    width: 80%;
    overflow: scroll;
    height: 80%;
    margin-left: 10%;
    margin-top: 100px;
}

.announcement-title {
    text-align: left;
    color: dodgerblue;
    font-size: xx-large;
    margin-top: 60px;
    font-weight: bold;
}

.announcement-item {
    border: dashed black 2px;
}

.announcement-button {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}