.title {
    text-align: left;
    font-weight: bold;
    font-size: 30px;
    color: floralwhite;
    flex: 1;
    padding: 30px;
}

.menu {
    width: 600px;
    background-color: skyblue;
}

.menu-item {
    color: floralwhite;
    font-size: 15px;
    text-align: center;
    width: 150px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    width: 100%;
    background-color: skyblue;
}

.buttons {
    flex: 3;
    display: flex;
    justify-content: flex-end;
}

.logout-button {
    font-size: 20px;
    margin-right: 20px;
    color: floralwhite;
    padding-left: 20px;
}

.not-logged-in-buttons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.sign-up-button {
    font-size: 15px;
    margin-right: 20px;
    color: floralwhite;
}

.login-in-button {
    font-size: 15px;
    margin-right: 20px;
    color: floralwhite;
}

