@import "./styles/App.css";
@import "./styles/TopBar.css";
@import "./styles/Login.css";
@import "./styles/Register.css";
@import "./styles/Main.css";
@import "./styles/Mainpage.css";
@import "./styles/Footer.css";
@import "./styles/Payment.css";
@import "./styles/Booking.css";
@import "./styles/BookingList.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
